RewriteEngine on

# Admin Related
RewriteRule ^admin/?$ pages/admin.php
RewriteRule ^admin/initialize-database/?$ db_init.php

# Match index
RewriteRule ^/?$ pages/index.php

# Users
RewriteRule ^user/([0-9]+)/?$ pages/user.php?id=$1
RewriteRule ^user/([0-9]+)/edit/?$ pages/user.php?id=$1&edit
RewriteRule ^user/([0-9]+)/delete/?$ pages/user_operations.php?id=$1&operation=delete

# Register
RewriteRule ^register/?$ pages/register.php

# Login
RewriteRule ^login/?$ pages/login.php
RewriteRule ^logout/?$ pages/logout.php

# Entity Related
RewriteRule ^entity/create/?$ pages/create.php
RewriteRule ^entity/([0-9]+)/delete/?$ pages/create.php?delete&id=$1
RewriteRule ^entity/([0-9]+)/edit/?$ pages/create.php?editid=$1
RewriteRule ^entity/([0-9]+)/images/?$ pages/images.php?id=$1
RewriteRule ^entity/(.*)/?$ pages/entity.php?name=$1

# Images
RewriteRule ^image/(.*)/delete/?$ pages/image_edit.php?id=$1&delete
RewriteRule ^image/(.*)/edit/?$ pages/image_edit.php?id=$1

# Tag
RewriteRule ^tag/(.*)/(.*)/?$ pages/tag.php?name=$1&data=$2
RewriteRule ^tag/(.*)/?$ pages/tagname.php?name=$1

# Search
RewriteRule ^search/?$ pages/search.php

# Api
RewriteRule ^api/(.*)/?$ pages/data/api.php?call=$1

ErrorDocument 404 pages/data/404.php